h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 56px;
}

.container {
    .inner-container {
        margin: auto 98px;
    }

    .inner-container-lg {
        margin: auto 40px;
    }
}

.flex-row-vcenter-m {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dim-overlay {
    display: none;
}

header {
    height: 113px;
    .header-container {

        .header-inner-container {
            @extend .flex-row-vcenter-m;

            .header-logo-container {
                width: auto;
                .hamburger {
                    display: none;
                }
            }


            nav {
                position: static; 
                flex-grow: 1;
                height: 48px;
                width: auto;
                margin: auto 0;
                background: transparent;

                
    
                .cross {
                    display: none;
                }
    
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 0;
                    width: 100%;
                    height: auto;
                    margin: auto;

                    div {
                        li {
                            &:first-of-type {
                                margin-top: 0;
                            }
                        }
                    }
                    
                    li {
                        display: inline-block;
                        margin-right: 38px;
                        margin-top: 0;
    
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }




    }
}

main {

    .landing-container {
        padding: 107px 0 248px;
        .talent-container {
            padding: 0 50px;

            p {
                margin-top: 14px;
            }

       }
    }

    .about-container {
        padding: 99px 0 94px;
        .about-heading-container {
            width: calc(100% - 130px);
        
        }

        .about-cards {
            margin-top: 64px;
            .about-card {
               @extend .flex-row-vcenter-m; 
               align-items: flex-start;
               margin-top: 27px;

               img {
                   margin-right: 23px;
               }
    
               div {
                   text-align: left;
    
                   
                    h3 {
                        margin-top: 0;
                    }

                    p {
                        padding-top: 15px;
                    }
               }
    
            }
        }
        
    }

    .reviews-main-container {
        padding: 100px 0 60px;
        .reviews-container {
            h2 {
                padding: 0 50px;
            }
        }
    }

    .start-container {
        padding: 76px 0;
        .start-inner-container {
            @extend .flex-row-vcenter-m;
            justify-content: space-between;
            max-width: 917px;

            a {
                margin-top: 0;
            }
        }
    }

    //*****************//
    //***** about *****//
    //*****************//
    .about-landing-container {
        padding: 106px 0 111px;
        background-position: bottom right -100px;

        p {
            margin-top: 20px;
            line-height: 28px;
            padding: 0 60px;
        }
    }

    .directors-container {
        padding: 100px 0 75px;
        background-position: top left -100px, bottom right;

        .directors-inner-container {

            .directors-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 305px);
                grid-column-gap: 13px;
                grid-row-gap: 24px;
                justify-items: center;
                margin-top: 48px;
                .directors-card {
                    &:first-of-type {
                        margin-top: 0;
                    }
                    margin-top: 0;
                    width: 100%;

                    .card-back {
                        padding: 36px 25px 53px;
                    }
                }

            }
        }
    }

    .clients-container {
        background-position: top -100px left;
        padding: 101px 0 98px;
        .logo-container {
            height: auto;
            margin-top: 47px;
            width: 100%;
            @extend .flex-row-vcenter-m;

            a {
                margin-right: 49px;
                margin-top: 0;
                &:last-of-type {
                    margin-right: 0;
                }
                img {
                    width: 100%;
                    transform: scale(1.0);
                }
            }


        }
    }

    .contact-main-container {
        background-image: url("../images/bg-pattern-contact-2.svg"), url("../images/bg-pattern-about-2-contact-1.svg");
        background-position: bottom -3px right -100px, top 106px left -100px;

        padding: 106px 0 181px;

        .contact-inner-container {
            max-width: 542px;
            margin: auto;
        }
        
        .left-contact-container {
            h2 {
                margin-top: 27px;
            }

            .contact-card {
                padding: 0 13px;
                &:first-of-type {
                    margin-top: 32px;
                }
                margin-top: 9px;
            }

        }

        .right-contact-container {
            form {
                margin-top: 39px;
            }
        }
    }
        


}

footer {
    padding: 56px 0 54px;
    .footer-main-container {
        .footer-first-container {
            @extend .flex-row-vcenter-m;
            justify-content: space-between;

            .nav-container,
            .contact-container {
                height: 100px;
            }

            .nav-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                .footer-nav {
                    margin: auto auto 0;

                    li{
                        &:first-of-type {
                            margin-left: 0;
                        }
                    }
                }
            }

            .contact-container {
                margin-top: 0;
                text-align: right;
            }
        }

        .footer-second-container {
            @extend .flex-row-vcenter-m;
            justify-content: space-between;
            align-items: center;
            margin-top: 34px;

            .social-container {
                margin-top: 0;

                a {
                    &:first-of-type {
                        margin-left: 0;
                    }
                }

            }
            .copyright-container {
                margin-top: 0;
            }
        }
    }

}

