$PrimaryGreen: rgb(1, 78, 86);
$PrimaryCoral: rgb(246, 126, 126);
$PrimaryWhite: rgb(255, 255, 255);

$SecondaryLightBlue: rgb(121, 200, 199);
$SecondaryBlue: rgb(44, 98, 105);
$SecondaryJGreen: rgb(0, 64, 71);
$SecondarySGreen: rgb(1, 47, 52);
$SecondaryDGreen: rgb(0, 37, 41);
