@import 'variables';

html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Livvic', sans-serif;
    background: $PrimaryGreen;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: $PrimaryWhite;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    padding: 5px 0;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}

p {
    @extend .font-body-2;
    padding: 6px 0;
}

.container {
    width: 100%;

    .inner-container,
    .inner-container-lg  {
        max-width: 1110px;
        margin: auto 24px;
    }

}

.font-body-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.font-body-2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

.background-images {
    background-repeat: no-repeat;
    background-size: initial;
}

.flex-row-vcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    display: inline-block;
    border-width: 2px;
    border-radius: 24px;
    border-style: solid;
    padding: 8px 31px;

    &.btn-nav {
        border-color: $PrimaryWhite;
        padding: 8px 34px;

        &:hover {
            background-color: $PrimaryWhite;
            color: $SecondaryDGreen;
            font-weight: 600;
        }
    }

    &.btn-primary-light {
        color: white;
    }
    &.btn-primary-dark {
        color: $SecondarySGreen;
        border-color: $SecondarySGreen;

        &:hover {
            color: $PrimaryWhite;
            background-color: $SecondarySGreen;
        }

    }
    &.btn-secondary-light {
        background-color: $PrimaryWhite;
        color: black;
        @extend .font-body-1;
        border: none;
        color: $SecondaryJGreen;
        padding: 10px 32px;

        &:hover {
            background-color: $SecondaryLightBlue;
        }

        &.disabled {
            opacity: 0.2;
            cursor: none;

            &:hover {
                background-color: $PrimaryWhite;
            }
        }

    }
}

.highlight-text {
    color: $PrimaryCoral;
}

.dim-overlay {
    background-color: black;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: opacity 0.2s ease-in;
    pointer-events: none;

    &.open {
        opacity: 0.5;
    }
}

header {
    height: 80px;

    .header-container {
        position: relative;
        @extend .flex-row-vcenter;
        align-items: flex-end;
        // justify-content: space-between;
        height: 100%;

        .header-inner-container {
            width: 100%;
            .header-logo-container {
                width: 100%;
                @extend .flex-row-vcenter;
                justify-content: space-between;
    
                .header-logo {
                    height: 32px;
                }
        
                .hamburger {
                    display: inline-block;
                    width: 20px;
                    height: 17px;
                    background: url("../images/icon-hamburger.svg");
                }
            }
        }
        nav {
            position: absolute;
            top: 0;
            right: -280px;
            height: 100vh;
            width: 255px;
            background-color: $SecondaryBlue;
            background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
            background-repeat: no-repeat;
            background-position: right -100px bottom;
            transition: right 0.2s ease-in;
            z-index: 1010;
            font-size: 18px;
            line-height: 28px;


            &.open {
                right: -25px;
            }

            .cross {
                position: absolute;
                right: 26px;
                top: 56px;
                display: inline-block;
                height: 18px;
                width: 18px;
                background: url("../images/icon-close.svg");
            }

            ul {
                list-style: none;
                margin: 0;
                padding-top: 86px;
                padding-left: 48px;

                div {
                    li {
                        &:first-of-type {
                            margin-top: 27px;
                        }
    
                        margin-top: 24px;
                    }
                }
                
                li {

                    text-align: left;
                    margin-top: 35px;

                    

                    a {
                        color: $PrimaryWhite;
                        text-decoration: none;

                        &:hover {
                            color: $PrimaryCoral;
                        }
                    }
                }
            }
        }
    }






}

main {
    flex: 1 0 auto;

    //*****************//
    //***** index *****//
    //*****************//
    .landing-container {
        padding: 75px 0 190px;
        background-image: url("../images/bg-pattern-home-2.svg");
        background-position: bottom;
        @extend .background-images;


        .talent-container {
            p {
                margin-top: 8px;
                line-height: 28px;
            }
            

        }
    }

    .about-container {
        background-color: $SecondarySGreen;
        background-image: url("../images/bg-pattern-home-3.svg");
        @extend .background-images;
        background-position: top right -100px;
        padding: 64px 0 59px;
        .about-heading-container {
            &::before {
                content: "";
                display: block;
                height: 4px;
                width: 50px;
                background-color: $PrimaryCoral;
            }

            width: calc(100vw - 135px);
            
            
            h2 {
                text-align: left;
                margin-top: 32px;
            }
        }

        .about-cards {
            margin-top: 56px;
            .about-card {
                margin-top: 42px;

                h3 {
                    color: $PrimaryCoral;
                    margin-top: 15px;
                }

                p {
                    opacity: 0.8;
                }
            }
        }

    }

    .reviews-main-container {
        padding: 140px 0 124px;
        background-color: $SecondaryJGreen;
        @extend .background-images;
        background-image: url("../images/bg-pattern-home-4-about-3.svg"), url("../images/bg-pattern-home-5.svg");
        background-position: top left, bottom right;

        .reviews-container {
            
            h2 {
                span {
                    color: $SecondaryLightBlue;
                }
            }
            

            .review-card {
                margin-bottom: 35px;
                padding: 44px 0 0;

                &:first-of-type {
                    margin-top: 40px;
                }
                
                h3 {
                    color: $SecondaryLightBlue;
                    margin-top: 17px;
                }

                p {
                    padding: 0;
                }

                .job-title {
                    font-size: 13px;
                    font-weight: 500;
                    font-style: italic;
                    margin-top: 1px;
                    line-height: 18px;
                }
                

                img {
                    width: 66px;
                    height: 66px;
                    border: 2px solid $PrimaryWhite;
                    border-radius: 50%;
                    margin-top: 14px;
                }
            }
        }
    }

    .start-container {
        padding: 83px 0;
        background-color: $PrimaryCoral;
        background-image: url("../images/bg-pattern-home-6-about-5.svg");
        @extend .background-images;
        background-position: bottom -22px left;

        h2 {
            color: $SecondarySGreen;
        }

        a {
            @extend .font-body-1;
            margin-top: 24px;
        }
    }

    //*****************//
    //***** about *****//
    //*****************//
    .about-landing-container {
        padding: 75px 0 100px;
        background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
        background-position: bottom -100px right -100px;
        @extend .background-images;

        p {
            margin-top: 7px;
            line-height: 28px;
        }
    }

    .directors-container {
        padding: 88px 0 116px;
        background-color: $SecondaryJGreen;
        background-image: url("../images/bg-pattern-about-2-contact-1.svg"), url("../images/bg-pattern-home-4-about-3.svg");
        background-position: top -100px left -100px, bottom right;
        @extend .background-images;

        .directors-inner-container {
            .directors-cards {
                .directors-card {
                    &:first-of-type {
                        margin-top: 48px;
                    }
                    margin: 52px auto 0;
                    height: 253px;
                    max-width: 310px;
                    
                    position: relative;
                  
                    h3 {
                        color: $SecondaryLightBlue;
                    }


                    .card-front {
                        padding: 30px 45px 69px;
                        width: 100%;
                        height: 100%;
                        background-color: $SecondarySGreen;

                        h3 {
                            margin-top: 12px;
                        }
    
                           
                        img {
                            width: 100px;
                            height: 100px;
                            border: 2px solid $PrimaryWhite;
                            border-radius: 50%;
                        }

                        .job-title {
                            font-style: italic;
                            font-weight: 500;
                            padding-top: 0;
                            margin-top: -2px;
                        }

                    }

                    .card-back {
                        background-color: $SecondaryDGreen;
                        padding: 36px 45px 53px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        opacity: 0;

                        transition: opacity 0.5s ease-in-out;

                        p {
                            margin-top: 1px;
                        }
    

                        .card-social {
                            margin-top: 18px;
                            a {
                                &:first-of-type {
                                    margin-right: 14px;
                                }
                            }
                        }
                    }

                    .card-btn {
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        background-color: $PrimaryCoral;
                        position: absolute;
                        left: calc(50% - 28px);
                        bottom: -28px;
                        background-image: url("../images/icon-cross.svg");
                        @extend .background-images;
                        background-position: center;
                        cursor: pointer;

                        transition: 
                            opacity 0.5s ease-in-out,
                            transform 0.5s ease-in-out;

                        &:hover {
                            background-color: $SecondaryLightBlue;
                        }

                    }

                    &.open {

                        .card-back {
                            opacity: 1;
                        }
                        
                        .card-btn {
                            transform: rotate(45deg);
                            background-color: $SecondaryLightBlue;

                            &:hover {
                                background-color: $PrimaryCoral;
                            }
                        }
                    }
                
                }

            }
        }
    }

    .clients-container {
        padding: 88px 0 60px;
        background-color: $SecondarySGreen;
        background-image: url("../images/bg-pattern-about-4.svg");
        background-position: top -100px left -100px;
        @extend .background-images;

        .logo-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            margin-top: 20px;

            a {
                margin-top: 28px;
                text-align: left;
                display: flex;
                justify-content: center;

                img {
                    transform: scale(0.45);
                }

                &:last-of-type {
                    margin-top: 17px;
                }
            }
        }
    }

    //*****************//
    //***** contact *****//
    //*****************//
    .contact-main-container {
        background-color: $PrimaryGreen;
        background-image: url("../images/bg-pattern-contact-2.svg");
        background-position: bottom -113px right -100px;
        @extend .background-images;
        padding: 75px 0 157px;
        
        .left-contact-container {
                        h2 {
                color: $PrimaryCoral;
                margin-top: 20px;
            }

            .contact-card {
                @extend .flex-row-vcenter;
                margin-top: 24px;


                img {
                    margin-right: 23px;

                }
                &:first-of-type {
                    margin-top: 47px;
                    img {
                        padding-left: 7px;
                    }
                    
                }

                p {
                    @extend .font-body-1;
                    font-weight: 700;
                    text-align: left;
                }
            }
        }
    }

    .right-contact-container {
        form {
            margin-top: 31px;
            input,
            textarea {
                color: $PrimaryWhite;
                background: transparent;
                border: none;
                border-bottom: 1px solid $PrimaryWhite;
                width: 100%;
                padding: 16px;
                margin-top: 8px;
                outline: none;
                @extend .font-body-2;
                cursor: pointer;

                &::placeholder {
                    color: $PrimaryWhite;
                    opacity: 0.6;
                }
            }

            textarea {
                padding-bottom: 8px;
                resize: vertical;
            }

            .invalid-feedback,
            .invalid-email {
                display: none;
                font-size: 10px;
                font-weight: 700;
                font-style: italic;
                line-height: 13px;
                color: $PrimaryCoral;
                text-align: left;
                padding: 8px 16px 0;
            }

            .invalid {
                input,
                textarea {
                    border-color: $PrimaryCoral;

                    &::placeholder {
                        color: $PrimaryCoral;
                    }
                }

                .invalid-feedback {
                    display: block;
                }
            }

            .valid {
                input,
                textarea {
                    border-color: $SecondaryLightBlue;
                }
            }

            button {
                outline: none;
                margin-top: 21px;
                float: left;
            }

            .pattern-invalid {
                input {
                    border-color: $PrimaryCoral;
                    color: $PrimaryCoral;

                    &::placeholder {
                        color: $PrimaryCoral;
                    }
                }
                .invalid-email {
                    display: block;
                }
            }
        }
    }


}

footer {
    background: $SecondaryDGreen;
    color: $PrimaryWhite;
    padding: 66px 0 64px;
    flex-shrink: 0;

    .footer-main-container {
        text-align: center;

        .footer-first-container {
            .nav-container {
                img {
                    width: 96px; 
                }

                ul {
                    margin: 24px 0 0;
                    list-style: none;
                    padding: 0;
                    @extend .font-body-2;
                    line-height: 19px;
                    
                    li {
                        display: inline-block;
                        margin: auto 11px;
                        a{
                            text-decoration: none;
                            display: inline-block;
                            color: $PrimaryWhite;

                            &:hover {
                                color: $PrimaryCoral;
                            }
                        }
                        
                    }
                }
            }

            .contact-container {
                margin-top: 27px;

                address,
                a {
                    @extend .font-body-2;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 25px;
                    font-style: normal;
                    opacity: 0.6;
                }

                a {
                    color: $PrimaryWhite;
                    text-decoration: none;
                }
            }

        }

        .footer-second-container {
            
            .social-container {
                margin-top: 40px;
                a {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: initial;
                    margin: auto 6px;

                    &.facebook {
                        background-image: url("../images/icon-facebook.svg");
                    }

                    &.pinterest {
                        background-image: url("../images/icon-pinterest.svg");
                    }

                    &.twitter {
                        background-image: url("../images/icon-twitter.svg");
                    }


                }


            }

            .copyright-container {
                @extend .font-body-2;
                margin-top: 13px;
                opacity: 0.6;
            }
        }
    }
}

@media (min-width: 768px) {
    @import 'tablets';
}


@media (min-width: 992px) {
    @import 'monitors';
}

@media (min-width: 1030px) {
    main {
        .directors-container {
            padding: 140px 0 116px;
    
            .directors-inner-container {
    
                .directors-cards {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 305px);
                    grid-column-gap: 24px;
                    margin-top: 64px;
                    .directors-card {
                        max-width: 350px;
    
                        .card-back {
                            padding: 36px 15% 53px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1110px) {
    .container {
        .start-inner-container {
            margin: auto;
        }
    }

    main {    

    }

}

@media (min-width: 1296px) {

    .container {
        .inner-container,
        .inner-container-lg  {
            margin: auto;
        }
    }

    main {
        .start-container {
            background-position: bottom left;
    
        }

        .contact-main-container {
            .contact-inner-container {
                margin: auto;
            }
        }
    }

}